{% extends 'home/page_head.html' %}

{% block title %}
User Preview
{% endblock %}

{% block body %}



<div class="div-user-preview">
    <div class="sub-div-user-preview">
        <p>It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            It is user {{ user.id }},
            Here I am supposed to
            add all the users in the
            data base.
            sdk;jfsdj
            qsdfjksldk
            s;dfjsdlmkc
            sdl;jkdssd
            <br>
            qesrfz
            
        </p>
    </div>
</div>

{%endblock %}